/* ================= PRODUCTS ================= */
#products {
    padding: 50px;
}
#products > h1 {
    color: var(--purple);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}
#products .container .card {
    border-radius: 5px;
    border: 1px solid rgb(209, 14, 14);
    width: 240px;
    text-align: center;
    padding: 15px;
    min-height: 300px;
}
#products .container .card .img {
    text-align: center;
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#products .container .card .img img {
    max-width: 190px;
    max-height: 100%;
}
#products .container .card .title {
    font-size: 0.9rem;
    text-align: center;
    margin: 5px 0;
    font-weight: 800;
}
#products .container .card button {
    width: 150px;
    height: 35px;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: rgb(42, 170, 138);
    margin-top: 5px;
    border: none;
    cursor: pointer;
}
#products .container .card button:hover {
    background-color: rgb(236, 255, 220);
}
#products .container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: auto;
    justify-content: center;
    gap: 20px;
}
#products .container .card .rating {
    margin-top: 10px;
    text-align: center;
}
#products .co
